{% extends 'base.html' %}

{% block content %}
<h2 style="color: black; text-align: center; ">Welcome {{ user.username }}</h2>
<div style="height: 500px; width: 1690px; background-color: aquamarine;display: inline-block;">

    <div style="height: 99%; width: 49.7%; border: 3px red solid;display: inline-block; ">
        <h4> Create new Post :</h4>
        <div style="margin-left: 70px;">
            <form action="{% url 'accounts:user_profile' request.user.username %}" method="post"
                enctype="multipart/form-data" novalidate class="col-md-5">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="submit">
            </form>
        </div>



    </div>

</div>


{% endblock %}